* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: uppercase;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.time-wrap, .button-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 800px;
    height: 50px;
    /*border: 1px solid #000;*/
    display: flex;
    align-items: center;
}

.time-wrap img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    z-index: 1;
}

.timeline {
    margin-left: -5px;
    width: 750px;
    height: 25px;
    border: 1px solid #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.playing-field {
    padding: 10px;
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    border-radius: 10px;
    display: grid;
    gap: 10px;
}

.easy-mode {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.medium-mode {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.hard-mode {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.card {
    /*margin: 10px;
    width: 160px;
    height: 200px;*/
    border: 1px solid red;
}

.button-wrap {
    justify-content: space-between;
}

.button-wrap button {
    width: 200px;
    height: 100%;
    font-size: 20px;
}

.button-wrap ul {
    display: flex;
    list-style: none;
}

.button-wrap li {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}