.button-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 800px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-wrap button {
    width: 200px;
    height: 100%;
    border-radius: 10px;
    background-color: #FF6347;
    font-size: 20px;
}

.button-wrap ul {
    display: flex;
    list-style: none;
}

.button-wrap li {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}