.button-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 800px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-wrap button {
    width: 200px;
    height: 100%;
    border-radius: 10px;
    background-color: #FF6347;
    font-size: 20px;
}

.btn-difficult {
    height: 100%;
    display: flex;
    list-style: none;
}

.button-wrap label {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.custom-radio-btn {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #FF6347;
    border: 2px solid #FF6347;
    border-radius: 50%;
    vertical-align: text-top;
}

.radio-btn {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.custom-radio-btn::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .2s ease-in;
}

.radio-btn:checked + .custom-radio-btn::before {
    transform: translate(-50%, -50%) scale(1);
}