.card {
    perspective: 900px;
    position: relative;
}

.front-card, .back-card {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
    transition: transform .4s linear, opacity .4s linear;
}

.back-card {
    transform: rotateY(0deg);
    background-color: #CD853F;
}

.front-card {
    border: 3px solid #8B4513;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

 .back-rotate {
    transform: rotateY(-180deg);
}

.front-rotate {
    transform: rotateY(0deg);
}

.fading {
    opacity: 0;
}

.icon-card {
    width: 100%;
    height: auto;
}
