.playing-field {
    padding: 10px;
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    border-radius: 10px;
    display: grid;
    gap: 10px;
}

.easy-mode {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.medium-mode {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.hard-mode {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
}